$text-size : 1.4rem;

/* 2.2.7 Contact section / .contact */
.contact {
	padding: 64px 128px;
	max-width: 1600px;
	.c-left{
		padding-right: 64px;
	}
	.c-right{
		padding-left: 64px;
	}
	.subsec{
		margin-bottom: 2rem;
	}
	.subtitle{
		font-family: "Aller Display";
		font-size: $text-size;
		text-transform: uppercase;
//		font-weight: bold;
		color: #767676;
	}
	p{
		font-family: "Open Sans";
		font-size: 1rem;
		color: #767676;
	}
	
	ul.social-icons{
		li{
			display: block;
			float: left;
			.icon{
				padding: 0.75rem;
//				padding-right: 1rem;
				font-size: 2rem;
				color: #767676;
			}
		}
		li:first-child{
			.icon{
				margin-left: -0.5rem;
			}
		}
		li:hover{
			.icon{ 
				color: #222;
			}
		}
	}
	.form{
//		padding-right: 48px;
		.input{
			height: 48px;
			font-family: "Open Sans";
			font-size: 1rem;
			padding-left: 1.5rem;
			background: #fafafa;
		}
		textarea{
			min-height: 180px;
			font-family: "Open Sans";
			font-size: 1rem;
			padding-left: 1.5rem;
			background: #fafafa;
		}
		.button{
			font-family: "Open Sans";
			height: 48px;
			font-size: 1rem;
			font-weight: normal;
			text-transform: uppercase;
			width: 100%;
			padding: 0;
			padding-top: 0px;
			border-radius: 0 6px 6px 0;
			line-height: 1;
			background: #767676;
			position: relative;
			.text{
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-ms-transition: 0.3s;
				display: inline-block;
				position: relative;
			}
			.icon{
				display: inline-block;
				color: #fff;
				-webkit-transform: rotateY(90deg);
				transform: rotateY(90deg);
				position: absolute;
				margin-top: -1px;
				transition: 0.3s;
				-webkit-transition: 0.3s;
				-ms-transition: 0.3s;
			}
		}
		.button:hover{
			background: #FFAB32;
			.text{
				margin-left: -1.5rem;
			}
			.icon{
//				color: #222;
				-webkit-transform: rotateX(0deg);
				transform: rotateX(0deg);
				margin-left: 0.5rem;
			}
		}
		label{
			font-family: "Open Sans";
			text-transform: uppercase;
			margin-bottom: 0.2rem;
			font-weight: bold;
			font-size: 0.8rem;
			color: #767676;
		}
	}
}

/* 3. footer /.footer */
.footer{
	position: relative;
	background: #F9F9F9;
	border-top: 1px #E5E5E5 solid;
	text-align: center;
	padding: 24px 64px 32px 64px;
	margin-bottom: 40px;
	p{
		font-family: "Open Sans";
		margin: 0;
		color: #767676;
	}
	.title{
		text-transform: uppercase;
		margin-bottom: 16px;
		p{
			font-weight: bold;
			color: #767676;
		}
	}
	a{
		font-weight: bold;
		color: #222;
	}
	a:hover{
		color: #222;
		text-decoration: underline;
	}
}